/* Base styles */

body {
  background: black;
  color: pink;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  font-size: 16px;
  letter-spacing: .025rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bangers', cursive;
  font-weight: bold;
  margin-bottom: 1rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

hr {
  margin-top: 3rem;
  margin-bottom: 3rem;
  opacity: .5;
  border: none;
  border-top: 1px solid gray;
}

img {
  max-width: 100%;
  height: auto;
}

iframe {
  max-width: 100%;
}

.btn {
  display: inline-block;
  text-decoration: none;
  padding: 1rem 2rem;
}

.content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

.row {
  display: flex;
  -webkit-display: flex;
  margin-left: -1rem;
  margin-right: -1rem;
}

.col {
  flex-grow: 1;
  padding: 1rem;
}

.banner {
  min-height: 25vh;
  padding: 5rem 1rem;
  background-image: url('../pink-and-purple-wallpaper-1616403.jpg');
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  text-align: center;
}

.banner-text {
  display: inline-block;
  font-family: 'Bangers', cursive;
  margin: auto;
  padding: 3rem;
  width: auto;
  text-align: right;
  background: #ff1493;
  color: white;
  border: 10px solid #8014ff;
  font-size: 3.5rem;
  max-width: 250px;
}

.profile-img {
  max-height: 50vh;
  width: auto;
  border-radius: 50%;
}

.favorite-animal {
  background: #1493ff;
  padding: 2rem;
  color: black;
}

.favorite-topping {
  background: #ff1493;
  padding: 2rem;
  color: white;
}

.favorite-restaurant {
  background: #93ff14;
  padding: 2rem;
  color: black;
}

.footer {
  text-align: center;
  padding: 2rem;
  font-size: 1.5rem;
}

.btn-1 {
  font-family: 'Bangers', cursive;
  background: #ff1493;
  color: white;
  padding: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: .25rem;
  font-size: 2rem;
  text-decoration: none;
  display: inline-block;
  margin-top: 2rem;
  border: 1px solid white;
  transition: border .3s ease;
}

.btn-1:hover {
  border: 15px solid #1493ff;
}

.copyright {
  margin-top: 5rem;
  background: white;
  color: black;
  text-align: center;
  padding: .5rem;
  font-size: .8rem;
}
